//global
.letter-spacing-none {
    letter-spacing: 0;
}

.q-drawer {
    .q-item {
        opacity: 0.6;
        &.q-router-link--exact-active {
            opacity: 1;
        }
    }
} 

// input numeros
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left:10px
}

.entradas {
    .q-slide-item {
        border: 1px solid rgba(0, 0, 0, 0.12);
        &:not(:first-child) {
            margin-top: -1px;
        }
    }
    .sortable-ghost {
        opacity: 0;
    }
}